@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: lightblue;
  padding: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav a:hover {
  color: darkblue;
}

.footer {
  background-color: ghostwhite;
  padding: 1rem;
  text-align: center;
}
