@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: lightblue;
  padding: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav a:hover {
  color: darkblue;
}

.footer {
  background-color: ghostwhite;
  padding: 1rem;
  text-align: center;
}
 
.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.cardItem {
  flex: 1 1 25%; /* Adjust the basis percentage as needed */
  display: flex;
  flex-direction: column;
  padding: 10px; /* Add padding around each card */
}

.cardContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  padding: 20px; /* Add padding inside the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 8px; /* Round the corners */
  background-color: #fff; /* Set a background color */
  transition: transform 0.2s; /* Add a transition for hover effect */
}

.cardContent:hover {
  transform: translateY(-5px); /* Lift the card slightly on hover */
}

.cardHeader {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the start */
  margin-bottom: 10px;
}

.cardImage {
  margin-bottom: 10px;
}

.cardDetails {
  margin-bottom: 10px;
  word-wrap: break-word; /* Ensure long words break to fit within the container */
  overflow-wrap: break-word; /* Ensure long words break to fit within the container */
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.smallCardContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.smallCard {
  flex: 1;
  margin: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #f9f9f9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tableContainer {
  width: 100%;
  margin: 10px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  width: 16%;
}

.table th {
  background-color: #f2f2f2;
  color: #333;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #ddd;
}

.table th, .table td {
  padding: 12px 15px;
}

.errorCell {
  background-color: rgb(244, 166, 166);
  color: white;
}

.iconContainer {
  display: flex;
  align-items: center;
}