@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: lightblue;
  padding: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav a:hover {
  color: darkblue;
}

.footer {
  background-color: ghostwhite;
  padding: 1rem;
  text-align: center;
}
 
.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.cardItem {
  flex: 1 1 25%; /* Adjust the basis percentage as needed */
  display: flex;
  flex-direction: column;
  padding: 10px; /* Add padding around each card */
}

.cardContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  padding: 20px; /* Add padding inside the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 8px; /* Round the corners */
  background-color: #fff; /* Set a background color */
  transition: transform 0.2s; /* Add a transition for hover effect */
}

.cardContent:hover {
  transform: translateY(-5px); /* Lift the card slightly on hover */
}

.cardHeader {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the start */
  margin-bottom: 10px;
}

.cardImage {
  margin-bottom: 10px;
}

.cardDetails {
  margin-bottom: 10px;
  word-wrap: break-word; /* Ensure long words break to fit within the container */
  overflow-wrap: break-word; /* Ensure long words break to fit within the container */
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.smallCardContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.smallCard {
  flex: 1;
  margin: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #f9f9f9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tableContainer {
  width: 100%;
  margin: 10px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  width: 16%;
}

.table th {
  background-color: #f2f2f2;
  color: #333;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #ddd;
}

.table th, .table td {
  padding: 12px 15px;
}

.errorCell {
  background-color: rgb(244, 166, 166);
  color: white;
}

.warningCell {
  background-color: rgb(228, 142, 14);
  color: white;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.collection-card {
  width: 600px;
  background-color: #111111 !important;
  box-sizing: content-box;
  font-family: HqvGothic;
}

.collection-notification {
  color: #fff;
    background-color: #f35321;
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4;
    position: absolute;
    top: 120px;
    left: 16px;
    z-index: 1;
}

.collection-header {
  margin: 15px 10px !important;
    font-size: 15px !important;
    font-weight: bolder !important;
    line-height: 30px !important;
    color: #eeeeee;
}

.collection-text {
  margin: 15px 10px !important;
    font-size: 20px !important;
    font-weight: bolder !important;
    line-height: 30px !important;
    color: #eeeeee;
}

.collection-image-container {
  display: flex;
  justify-content: center;
}

.hero-container {
  display: grid;
  justify-content: center;
}

.collection-image {
    border-radius: 24px !important;
}

.large-image-container {
  display: flex;
  justify-content: center;
}

.large-content {
  background-color: #111111 !important;
  color: #eeeeee !important;
  width: 600px;
  line-height: 1.1;
}

.large-message {
  max-width: 343px;
  background-color: #111111;
  padding-bottom: 20px;
  border-radius: 30px;
}

.large-image {
  max-width: 343px;
  border-radius: 24px 24px 0 0;
}

.large-text {
  margin: 15px 10px;
  font-size: 15px;
  font-weight: bolder;
  line-height: 30px;
  color: #eeeeee;
}

.hero-image {
  border-radius: 24px;
}

.hero-card {
  width: 600px;
  position: relative;
  margin: auto;
  margin-top: 38px;
  background-color: #111111 !important;
  padding-top: 30px;
}

.hero-header {
  margin: 15px 10px !important;
    font-size: 15px !important;
    font-weight: bolder !important;
    line-height: 30px !important;
    color: #eeeeee;
}

.verticallist-card {
  position: relative;
  width: 600px;
  margin: auto;
  background-color: #111111 !important;
  padding-top: 30px;
}

.noclick-card {
  position: relative;
  width: 600px;
  margin: auto;
  background-color: #111111 !important;
  padding-top: 30px;
}

.verticallist-header {
  margin: 15px 10px !important;
  font-size: 20px !important;
  font-weight: bolder !important;
  line-height: 30px !important;
  color: #eeeeee;
  padding-left:10px;
}

.verticallist-image {
  max-width: 323px;
  border-radius: 24px;
}

.verticallist-simple-message {
  display: flex;
  padding-left: 20px;
  padding-bottom: 20px;
}

.verticallist-simple-image {
  width: 25%;
  border-radius: 15px;
}

.verticallist-simple-text {
  width: 65%;
  padding-left: 10px;
  align-content: center;
  color: #eeeeee;
  font-size: 10px !important;
}

.noclick-header {
  margin: 0px 10px !important;
  font-size: 15px !important;
  font-weight: bolder !important;
  line-height: 30px !important;
  color: #eeeeee;
  padding-left:10px;
}

.noclick-text {
  margin: 0px 10px !important;
  font-size: 10px !important;
  font-weight: bolder !important;
  line-height: 30px !important;
  color: #eeeeee;
  padding-left:10px;
}